<div class ='session-header'>
    <div class='header-content'>
        <div class='app-name'>
          <p>Travel Time</p>
        </div>
        <div class='sign-up' style='padding-right:10px'>
          <%= link_to 'Sign Up','sign-up',class: 'btn btn-primary btn-lg', style: 'float:right'%>
        </div>
    </div>
</div>
<div class='blank-space-30px'></div>  <!-- Blank space to separate the header to the content.  -->
<div class='session-content'>
  <div id="fullBg">
    <%= form_for(:session, url: sessions_path, html: { class: 'form-signin' , role:  'form'}) do |f| %>
        <h1 class="form-signin-heading">Log in</h1>
        <div class="form-group">
          <%= f.text_field :name, class:'form-control', required:'', placeholder: 'Nickname' %>


          <%= f.password_field :password,  class:'form-control', placeholder: 'Password' %>

          <%= f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block'  %>
        </div>
    <% end %>
  </div>
</div>
