<div class ='session-header'>
  <div class='header-content'>
    <div class='app-name'>
      <p>Travel Time</p>
    </div>
    <div class='sign-up' style='padding-right:10px'>
      <%= link_to 'Log In',home_path ,class: 'btn btn-primary btn-lg', style: 'float:right'%>
    </div>
  </div>
</div>
<%= form_for(:user, url: users_path, html: { :multipart => true, class: 'form-signin' , role:  'form'}) do |f| %>
    <h1 class="form-signin-heading">Sign Up</h1>
    <div class="form-group">
      <%= f.text_field :name, class:'form-control', required:'', placeholder: 'Nickname' %>


      <%= f.password_field :password,  class:'form-control',placeholder: 'Password' %>

      <%= f.password_field :password_confirmation, class:'form-control', placeholder: 'Confirm Password' %>

      <%= f.submit 'Sign Up', class: 'btn btn-lg btn-primary btn-block'  %>
    </div>
<% end %>

