                    <!-- USER CONTAINER -->
 <script>
     $(document).ready(function(){
        //select the div tag with 'addphoto' id
         $('#addphoto2').click(function(event) {
             event.preventDefault();
             //get the div tag
             var addphoto = $(this);

             var maskHeight = '300px'
             var maskWidth = '400px'

             $('#popup').css({'width':maskWidth,'height':maskHeight});

             $('#popup').fadeIn(1000);
             $('#popup').fadeTo("fast",0.8);
             $('#popup').append('<%= link_to 'Add Photo', adding_photo_path(current_user), :id =>'add-photo-mw'%>');

             var winH = $(window).height();
             var winW = $(window).width();

             $(addphoto).css('top', winH/2-$(addphoto).height()/2);
             $(addphoto).css('left', winW/2-$(addphoto).width()/2);

             $(addphoto).fadeIn(2000);
         });
     });

     $(document).ready(function() {
         //select all the a tag with name equal to modal
         $('a[name=modal]').click(function(e) {
             //Cancel the link behavior
             e.preventDefault();
             //Get the A tag
             var id = $(this).attr('href');


             //Get the screen height and width
             var maskHeight = '200px'
             var maskWidth = '200px'

             //Set height and width to mask to fill up the whole screen
             $('#mask').css({'width':maskWidth,'height':maskHeight});

             //transition effect
             $('#mask').fadeIn(1000);
             $('#mask').fadeTo("fast",0.8);

             //Get the window height and width
             var winH = $(window).height();
             var winW = $(window).width();
             //Set the popup window to center
             $(id).css('top', winH/2-$(id).height()/2);
             $(id).css('left', winW/2-$(id).width()/2);

             //transition effect
             $(id).fadeIn(2000);

         });

         //if close button is clicked
         $('.window .close').click(function (e) {
             //Cancel the link behavior
             e.preventDefault();
             $('#mask, .window').hide();
         });

         //if mask is clicked
         $('#mask').click(function () {
             $(this).hide();
             $('.window').hide();
         });

     });
 </script>

  <div class='new-post'>
    <%= form_for @comment , remote: true  do |f| %>
        <% if @comment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@comment.errors.count, 'error') %> prohibited this comment from being saved:</h2>

              <ul>
                <% @comment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      <p style= 'padding-top:10px;'>
          <%= f.text_field :text , class:'form-control', required:'', placeholder: 'What is your plan?',style:   'display:table-cell'%>
          <%= f.submit 'Post', class: 'btn', style: 'display:table-cell'   %>
          <div id='addphoto2'>Add</div>
          <div id='popup'></div>

        <a href="#dialog" name="modal">Simple Modal Window</a>
        <div id="boxes">

          <!-- #customize your modal window here -->
          <div id="dialog" class="window">
            <b>Testing of Modal Window</b> |

            <!-- close button is defined as close class -->
            <a href="#" class="close">Close it</a>
          </div>

          <!-- Do not remove div#mask, because you'll need it to fill the whole screen -->
          <div id="mask"></div>
        </div>

        <%= link_to 'Add Photo', adding_photo_path(current_user), :id =>'addphoto', remote: true %>
      </p>

    <% end %>

    <div id= 'user-comments'>
        <% @user_comments.take(9).each do |comment|%>
          <% if current_user.id == comment.users_id %>
              <div class='user-comments'>
                <%= comment.text %>
              </div>
          <% end %>
        <% end %>
    </div>
  </div>


