<html>
<body>
<div class ='title'> <h1>TravelTime</h1></div>

<div class = 'log'>
  <%= form_tag('/home/login', :method => 'get') do %>
      <tr>
        <td><%= label_tag(:nick, 'Nickname:') %>
          <%= text_field_tag(:nick) %>
        </td>
        <td><%= label_tag(:password, 'Password:') %>
          <%= password_field_tag(:password) %>
        </td>
      </tr>
      <%= submit_tag('Login') %>
  <% end %>
</div>

</body>
</html>
