<script>
    $(document).ready(function(){
        // When Cancel button is pressed in 'adding new photo'
        $('#cancel').click(function(){
            alert('hello');
            $('#modal_add_image').hide();
        });


    });
</script>

<%= form_for @photo, :url => photos_path, :html => { :multipart => true } do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style='padding-top:10px'>
    <%= f.text_field :title, class:'form-control', required:'', placeholder: 'Write title!',style: 'display:table-cell' %>
    <%= f.submit 'Add Photo', class: 'btn', style: 'display:table-cell'   %>
    <%= f.file_field :avatar , class: 'btn', style: 'margin-left:0px' %>

  </div>

<% end %>

<%= button_tag 'Cancel', class: 'btn', :id => 'cancel'%>