<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'sessions', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title> Welcome to TravelTime</title>
</head>
<body>

<%= yield %>

</body>
</html>

                                <!-- ESTYLES FOR HTML5 -->

<!--<%= stylesheet_link_tag    'html5/skel-noscript', media: 'all', 'data-turbolinks-track' => true %>-->
<!--<%= stylesheet_link_tag    'html5/style', media: 'all', 'data-turbolinks-track' => true %>  -->
<!--<%= stylesheet_link_tag    'html5/style-wide', media: 'all', 'data-turbolinks-track' => true %> -->
<!--<%= stylesheet_link_tag    'html5/ie9', media: 'all', 'data-turbolinks-track' => true %>-->
<!--<%= stylesheet_link_tag    'html5/ie8', media: 'all', 'data-turbolinks-track' => true %> -->